dash~=2.18.2
pandas~=2.2.0
SQLAlchemy~=2.0.36
pyodbc~=5.2.0
python-dotenv~=1.0.1
dash_bootstrap_components
waitress~=3.0.2
plotly~=5.24.1
numpy~=1.26.4
opencv-python~=4.9.0.80
imgbeddings==0.1.0
pillow~=10.2.0
scikit-learn~=1.4.0
tensorflow
huggingface-hub==0.24.0
dash-canvas